/* .banner {
  background-color: #e5d4ee;
  aspect-ratio: 4 / 0;
  width: 100%;
  margin: 10px auto; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner p {
  font-size: 20px;
  text-align: center;
  color: #000000;
  font-style: thin;
}
 */
